
:root {
    --primary_color: #ff6b6b;
    --header-color: white;
    --body-bg: #fbe9e7;
    --body-text: black;
    --fotter-color: whitesmoke;
    --font-color: #576574;
    --button-color: whitesmoke;
    --button-color-hover: whitesmoke;
    --special-buttton: #ff9f43;
    --special-buttton-dark: #341f97;
    --special-hover: #feca57;
    --slider-color: black;
}

[data-theme="dark"] {
    --primary_color: #2f3640;
    --header-color: #3d3d3d;
    --body-bg: #2d3436;
    --body-text: white;
    --fotter-color: #3d3d3d;
    --font-color: #CAD3C8;
    --button-color: #4b4b4b;
    --button-color-hover: #4b4b4b;

    --special-buttton: transparent;
    /*--special-buttton : #1e272e;*/

    --special-buttton-dark: #4cd137;
    --special-hover: #44bd32;
    --slider-color: white;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper {
    display: flex;
    /*horizontal center*/
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary_color);
}

.calculator {
    display: grid;
    grid-template-rows: 10% 25% auto;
    background-color: var(--fotter-color);
    height: 36.25rem;
    width: 22.5rem;
    border-radius: 6px;
    box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, 0.4);
}    

.cal-header {
    background-color: var(--header-color);
    display: flex;
    justify-content: flex-end;
    padding-right: 7px;
    /*stack k vaje se so yaha b dalna phadheyga*/
    border-radius: 6px;
    
}

.cal-body {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; /*ye saab ache se h1&p ko alg DIV me dalne k baad e huva */
    padding-right: 15px;
    /* text ti right side dalne k le a */
    text-align: right;
    background-color: var(--body-bg);
    color: var(--body-text);
    padding: 20px;

}

.cal-fotter {
    display: grid;
    /* 4 auto 4 colums */
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    margin: 10px;
    background-color: var(--font-color);
    text-align: center;
    grid-column-gap: 8px;
    grid-row-gap: 5px;
    /* for left an right side corners space*/

    /*BOTH DO SAME PADDING give best to me*/
    justify-content: space-around;
    background-color: var(--fotter-color);
    /*padding: 0px 10px;*/

}

.cal-fotter div {
    /* 123.. ko center me krne k le a */
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    border-radius: 50%;
    color: var(--font-color);
    /*imp to do */
    width: 3.75rem;
    height: 3.75rem;
    /*margin: 3.5px 12px; grid-column-gap: is BETTER;*/

    font-size: 1.8rem;
    transition: 0.1s all;
}

.cal-fotter div.special {
    color: white;
    background-color: var(--special-buttton);
    font-weight: 540;

}

.cal-fotter div.special-dark {
    color: white;
    font-weight: 600;
    background-color: var(--special-buttton-dark);
}

.cal-fotter div:hover {
    cursor: pointer;
    /* border: 1mm ridge var(--primary_color);*/
    border: 3px outset var(--primary_color);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
    background-color: var(--button-color-hover);
}


.cal-fotter div.special:hover {
    background-color: var(--special-hover);
    color: whitesmoke;
    font-weight: 800;

}

.cal-fotter div.special-dark:hover {
    background-color: var(--special-hover);
    color: whitesmoke;
    font-weight: 450;
}

@keyframes shadow-inset-center {
    0% {
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.6);
    }
}

.cal-fotter div:active {
    animation: shadow-inset-center .2s ease-in-out both;
}


/* TOGGLE SWITCH */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch-wrapper em {
    margin-left: 10px;
    font-size: 1rem;
}

.theme-switch {
    display: inline-block;
    height: 16px;
    position: relative;
    width: 3.125rem;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider:before {
    background-color: var(--slider-color);
    content: "";
    bottom: -5px;
    height: 26px;
    /* left: 0px; */
    right: 25px;
    position: absolute;
    transition: 0.4s;
    width: 25px;
}

input:checked+.slider {
    background-color: #66bb6a;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#output{
    font-size: 2.5em;
}

@media (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .calculator {
        height: 85%;
        width: 85%;
        border-radius: 6px;
        box-shadow: 3px 5px 15px 5px rgba(0, 0, 0, 0.4);
    
    }
  }



